html, body {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit;}

header {
    max-width: 500px;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    font-size: 7vw;
    text-align: center;
}

.gridWrap {
    max-width: 400px;
    margin: 5vh auto 5vh auto;
}

.buttonContainer .button {
    display: grid;
    padding-top: 100%;
}

.buttonContainer {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    overflow: hidden; }

.button:focus { 
    outline: none; } 

.item1 {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1; }

.item2 {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1; }

.item3 {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1; }

.item4 {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1; }

.startContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100vw;
    margin: 0 auto; }

.start {
    text-align: center;
    font-size: 2vw;
}

.green {
    background-color: darkgreen;
}

.lightgreen {
    background-color: lightgreen;
}

.red {
    background-color: darkred;
}

.lightred {
    background-color: red;
}

.yellow {
    background-color: darkgoldenrod;
}

.lightyellow {
    background-color: yellow;
}

.blue {
    background-color: darkblue;
}

.lightblue {
    background-color: lightskyblue;
}