html, body {
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    padding: 0px;
    overflow-x: hidden;
    box-sizing: border-box; }

*, *:before, *:after { box-sizing: inherit;}

header {
    max-width: 500px;
    margin: 0 auto;
    font-family: Helvetica, sans-serif;
    font-size: 7vw;
    text-align: center;
}

.gridWrap {
    max-width: 500px;
    margin: 5vh auto 5vh auto;
}

.buttonContainer .button {
    display: grid;
    padding-top: 100%;
}

.buttonContainer {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    overflow: hidden; }

.button:focus { 
    outline: none; } 

#green {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
    background: green; }

#red {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
    background: red; }

#yellow {
    grid-row: 2 / span 1;
    grid-column: 1 / span 1;
    background: yellow; }

#blue {
    grid-row: 2 / span 1;
    grid-column: 2 / span 1;
    background: blue; }

.startContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 100vw;
    margin: 0 auto; }

.start {
    text-align: center;
    font-size: 2vw;
}